*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-left: 20px;
    padding-top: 20px;
    color: #333333;
    background-color: #f0f4f8;
}
.box-1{
    background-color: #ffcccc;
    width: 300px;
    height: 150px;
    padding: 20px;
    margin-left: 15px;
    margin-top: 15px;
}
.box-2{
    background-color: #cfc;
    width: 50%;
    height: 100px;
    padding: 20px;
    margin-left: 250px;
}

.box-3{
    background-color: #00ddff;
    height: 20vh;
    width: 40vw;
    padding: 20px;
    margin-left: 15px;
}

article > p:first-child{
    text-decoration: underline;
    color: #d9534f;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

article > p:nth-child(2){
    text-decoration: overline;
    color: #f0ad4e;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

article > p:nth-child(3){
    word-spacing: 10px;
    color: #5cb85c;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

article > p:nth-child(4){
    letter-spacing: 5px;
    color: #0275d8;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

article > p:nth-child(5){
    text-indent: 30px;
    color: #6f42c1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

article > p:last-child{
    text-transform: uppercase;
    color: #e83e8c;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}